/*
Joshua Snyder
VFW 1211
Project 2
*/


h1 {
    margin: 20px;
/*
    padding: ;
    border: ;
    outline: ;
    width: ;
    height: ;
    display: ;
    overflow: ;
    visibility: ;
    word-wrap: ;
*/
}
