/*
Joshua Snyder
VFW 1211
Project 2
*/
html {
    background-color: #E1DFD3;
}

h1 {
    margin: 20px;
    padding-left: 250px;
    border: ;
/*
    padding: ;
    outline: ;
    width: ;
    height: ;
    display: ;
    overflow: ;
    visibility: ;
    word-wrap: ;
*/
}
fieldset {
    background-color: #FAEBD7;
}