/*
Joshua Snyder
VFW 1211
Project 2
*/

html {
    background-color: #E1DFD3;
}

h1 {
    margin: 20px;
    text-shadow: 3px 3px, 1px rgba(0,0,0,0.5);
/*
    padding-left: ;
    border: ;
    padding: ;
    outline: ;
    width: ;
    height: ;
    display: ;
    overflow: ;
    visibility: ;
    word-wrap: ;
*/
}

form {
    -webkit-box-shadow:
      inset 1px 1px 84px rgba(0,0,0,0.24)
      inset -1px -1px 84px rgba(0,0,0,0.24);
}

label {
    display: block;
}

ul {
  list-style-type: none;
}

fieldset {
    background-color: #FAEBD7;
}
.even{background: #fff;}
.hasFocus{border: 2px solid #ff0000;};
